html {
    font-family: "Impact", "sans-serif";
    font-size: 16px;
    text-shadow: 1px 1px black;
}

body {
    display: flex;
    background-color: gray;
}

#main {
    color: rgb(219, 219, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    margin: 0 0 0 auto;
    background-color: rgb(25, 64, 64);
    padding: 10px;
}

#title {
    width: 350px;
}

#game_view {
    border: 4px solid;
    border-color: black rgb(46, 105, 106) rgb(46, 105, 106) black;
    margin-bottom: 5px;
    image-rendering: pixelated;
}

#score {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    width: 630px;
    font-size: 22px;
    background-color: rgb(3, 0, 166);
    border: 4px solid;
    border-color: rgb(0, 0, 65) rgb(93, 97, 255) rgb(93, 97, 255) rgb(0, 0, 65);
}

#options {
    padding-top: 64px;
    margin: 0 auto 0 0;
    display: flex;
    flex-direction: column;
    color: rgb(142, 142, 142);
    width: 320px;
    background: top center url('images/options.png') no-repeat rgb(140, 0, 0);
    background-size: contain;
}

.optionblock {
    background-color: rgb(89, 0, 0);
    margin: 4px;
    border: 4px solid;
    padding: 0 4px;
    border-color: rgb(65, 0, 0) rgb(239, 0, 0) rgb(239, 0, 0) rgb(65, 0, 0);
}

.optionblock span {
    margin: 0 8px;
}